- provide :title, "Help"
%h1 Help
%p Get help on the #{ link_to "Ruby Tutorail help page", "http://railstutorial.org/help"}. To Get help on this sample app, see the #{ link_to "Rails Tutorial Book", "http://railstutorial.org/book"}.